h1 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color:purple;
    text-align: center;
}
h3 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color:teal;
}
body {
    font-family:"Poppins", sans-serif;
font-size: 18px;
font-weight: 400;
font-style: normal;
}
.poppins-regular {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}
.poppins-bold {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
}
.poppins-regular-italic {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: italic;
}
.poppins-bold-italic {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: italic;
}
.center-align {
    text-align: center;
}
.border {
    background-color: transparent;
    border-color: rgb(0, 0, 0);
    border: 10px;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 10px solid black;
}
.box {
    width: 98%;
    height: 150px;
    border-radius: 2px;
    background-color: blue;
}
#box1 {
    background-color: rgba(167, 100, 255, 0.400);
}
#box2 {
    background-color: rgba(239, 255, 100, 0.400);
}
#box3 {
    background-color: rgba(255, 100, 100, 0.400);
}
#box4 {
    background-color: rgba(100, 255, 100, 0.400);
}